.navbar {
  background: #111111 !important;
  border-bottom: 2px solid #9b2020;
  padding: 15px 30px;
}

.navbar-brand {
  color: white !important;
  font-size: 30px;
  font-weight: bold;
}

.nav-link {
  color: white !important;
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
}

.nav-link:hover {
  color: #db7777 !important;
}

.btn_perfil {
  background: #9b2020;
  color: white !important;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.btn_perfil:hover {
  background: #db7777;
}

.btn_sair {
  background: transparent;
  color: white;
  padding: 9px 18px;
  border-radius: 10px;
  border: 1px solid #9b2020;
  cursor: pointer;
  font-size: 16px;
}

.btn_sair:hover {
  background: #9b2020;
  color: white;
}

.navbar-toggler {
  border: 1px solid white;
}